<%- include('../partials/header') %> <%- include('../partials/navbar') %>

<main class="container">
  <%- include('../partials/flash') %>
  <section id="heading">
    <h4 class="display-4 mt-2 mb-2">
      <i class="fas fa-blog" style="margin-right: 20px"></i>Blogs
    </h4>
  </section>
  <div class="row blogs">
    <% for (let blog of blogs){ %>
    <div class="col-md-6 col-sm-12">
      <div class="card mb-3">
        <img src="<%= blog.img %> " class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.desc.substring(0,70) %>...</p>
          <p class="card-text">
            <small class="text-muted"><%= blog.author %></small>
          </p>
          <a href="/blogs/<%= blog._id %>  " class="btn btn-outline-primary"
            >view Blog
          </a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
